
.page-container .page-content .content-frame .content-frame-body {
  padding: 70px 10px 10px 10px;
  margin-left: 250px;
}
.page-container .page-content .content-frame .content-frame-body.content-frame-body-left {
  margin-left: 0px;
  margin-right: 350px;
}
.page-container .page-content .content-frame .content-frame-left-toggle,
.page-container .page-content .content-frame .content-frame-right-toggle {
  display: none;
  margin-left: 2px;
}
.page-container .page-content .page-content-wrap {
  float: left;
  width: 100%;
}
.page-container.page-container-wide .page-content {
  margin-left: 10px;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}

/* END PAGE CONTAINER */

/* TASKS */
.panel-body.tasks {
  padding: 10px;
}
.tasks {
  float: left;
  width: 98%;
}
textarea ::placeholder{
  color: #000;
  background: #000000;
}
.tasks .task-item {
  width: 100%;
  float: left;
  padding: 0px;
  background: #FFF;
  border-left: 3px solid #FFF;
  margin-bottom: 10px;
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.tasks .task-item:hover {
  background: #F9F9F9;
  cursor: pointer;
}
.tasks .task-item.task-complete {
  background: #FFF2C5;
}
.tasks .task-item.task-primary {
  border-left-color: #1b1e24;
}
.tasks .task-item.task-success {
  border-left-color: #95b75d;
}
.tasks .task-item.task-info {
  border-left-color: #1caf9a;
}
.tasks .task-item.task-warning {
  border-left-color: #1caf9a;
}
.tasks .task-item.task-danger {
  border-left-color: #E04B4A;
}
.tasks .task-item .task-text {
  margin-bottom: 10px;
  float: left;
  width: 100%;
  font-size: 12px;
  font-weight: 400;
  padding: 10px;
}
.tasks .task-item .task-footer {
  float: left;
  width: 100%;
  font-size: 12px;
  color: #AAA;
  line-height: 20px;
  padding: 10px;
  background: #F5F5F5;
}
.tasks .task-item .task-footer a {
  color: #AAA;
  display: block;
  float: left;
  margin-left: 10px;
  font-size: 14px;
}
.tasks .task-item .task-footer a:hover {
  color: #22262e;
}
.tasks .task-drop {
  float: left;
  width: 100%;
  padding: 30px 10px;
  border: 2px dashed #D5D5D5;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  font-size: 16px;
  text-align: center;
  line-height: 20px;
}
.tasks .task-drop:hover {
  opacity: 0.5;
  filter: alpha(opacity = 50);
  cursor: pointer;
}
/* END TASKS */


@media only screen and (max-width: 768px) {
  [class^='col-xs-'],
  [class^='col-sm-'],
  [class^='col-md-'],
  [class^='col-lg-'] {
    margin-bottom: 10px;
  }
  /* LOGIN */
  .login-container {
    padding: 0px 10px;
  }
  .login-container .login-box {
    padding-top: 10px;
    width: 100%;
  }
  /* END LOGIN */
  /* TOCIFY */
  .tocify {
    display: none;
  }
  /* END TOCIFY */
  /* TIMELINE */
  .timeline.timeline-right:before {
    left: 60px;
  }
  .timeline.timeline-right .timeline-item {
    padding-left: 110px;
  }
  .timeline.timeline-right .timeline-item.timeline-main {
    width: 60px;
  }
  .timeline.timeline-right .timeline-item .timeline-item-icon {
    left: 40px;
  }
  .timeline.timeline-right .timeline-item .timeline-item-info {
    top: 45px;
    width: 70px;
    left: 25px;
    padding: 7px 0px;
  }
  /* END TIMELINE */
  .post-image {
    width: 100%;
  }
}
@media only screen and (max-width: 1024px) {
  .page-container .page-sidebar {
    position: relative;
    float: left;
    width: 100%;
  }
  .page-container .page-sidebar.scroll {
    position: relative;
  }
  .page-container .page-content {
    margin-left: 0px;
  }
  .page-container .page-content .content-frame .content-frame-left,
  .page-container .page-content .content-frame .content-frame-right {
    width: 100%;
    display: none;
  }
  .page-container .page-content .content-frame .content-frame-body {
    margin-left: 0px;
    margin-right: 0px;
  }
  .page-container .page-content .content-frame .content-frame-body.content-frame-body-left {
    margin-right: 0px;
  }
  .page-container .page-content .content-frame .content-frame-left-toggle,
  .page-container .page-content .content-frame .content-frame-right-toggle {
    display: inline-block;
  }
  .page-container.page-navigation-toggled .page-content {
    margin-left: 0px;
  }
  .page-container.page-mode-rtl .page-content {
    margin-right: 0px;
  }
  .page-container.page-navigation-top-fixed .x-navigation.x-navigation-horizontal {
    padding-right: 0px;
    position: relative;
  }
  .page-container.page-navigation-top-fixed .page-content {
    padding-top: 0px;
  }
  .x-navigation {
    max-height: 50px;
    overflow: hidden;
    background: #1b1e24;
  }
  .x-navigation.x-navigation-panel {
    height: 50px;
    max-height: auto;
    overflow: visible;
  }
  .x-navigation.x-navigation-panel li.xn-icon-button {
    width: 50px;
  }
  .x-navigation.x-navigation-panel li.xn-search {
    width: auto;
  }
  .x-navigation .xn-search input {
    width: 100%;
  }
  .x-navigation.x-navigation-open {
    max-height: 1200px;
    overflow: visible;
  }
  .x-navigation .x-navigation-control {
    display: block;
  }
  .x-navigation-minimize {
    display: none !important;
  }
  .x-navigation-horizontal > li > ul ul,
  .x-navigation-horizontal > li > ul.xn-drop-left ul {
    position: relative;
    left: auto;
    right: auto;
    margin-left: 0px;
    margin-right: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .x-navigation-horizontal > li > ul ul:after {
    display: none;
  }
  /* XNAV PANEL */
  .x-navigation li > .panel {
    width: 250px;
  }
  /* END XNAV PANEL */
  /* list icons */
  .icons-list li {
    width: 100%;
  }
  /* END list icons */
  /* Gallery */
  .gallery .gallery-item {
    width: 50%;
  }
  /* End Gallery */
  /* Timeline */
  .timeline .timeline-item .timeline-item-content {
    width: 90%;
  }
  .timeline .timeline-item .timeline-item-content:before,
  .timeline .timeline-item .timeline-item-content:after {
    left: 90%;
  }
  .timeline .timeline-item.timeline-item-right .timeline-item-content:before,
  .timeline .timeline-item.timeline-item-right .timeline-item-content:after {
    right: 90%;
  }
  /* END Timeline */
  /* Error */
  .error-container {
    width: 100%;
  }
  /* End Error */
  /* Settings */
  .theme-settings {
    display: none;
  }
  /* End Settings */
  .post-image {
    width: 300px;
  }
}
.x-navigation-minimized .xn-logo{
display:none;
}