
/* WIDGETS */
.widget {
  width: 100%;
  float: left;
  margin: 0px;
  list-style: none;
  text-decoration: none;
  -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
  color: #FFF;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  padding: 15px 10px;
  margin-bottom: 20px;
  min-height: 120px;
  position: relative;
}
.widget.widget-padding-sm,
.widget.widget-item-icon {
  padding: 10px 0px 5px;
}
.widget.widget-np {
  padding: 0px;
}
.widget.widget-no-subtitle {
  padding-top: 25px;
}
.widget.widget-carousel {
  padding-bottom: 0px;
  padding-top: 10px;
}
.widget.widget-default {
  background: #ffffff;  
}


.widget.widget-info {
background: #0f7bff !important;  
}

.widget .widget-title,
.widget .widget-subtitle,
.widget .widget-int,
.widget .widget-big-int {
  width: 100%;
  float: left;
  text-align: center;
}
.widget .widget-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
  line-height: 20px;
  text-transform: uppercase;
}
.widget .widget-subtitle {
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 5px;
  line-height: 15px;
  color: #EEE;
}
.widget .widget-int {
  font-size: 32px;
  line-height: 40px;
  font-weight: bold;
  font-family: arial;
}
.widget .widget-big-int {
  font-size: 42px;
  line-height: 45px;
  font-weight: 300;
}
.widget .widget-item-left {
  margin-left: 10px;
  float: left;
  width: 100px;
}
.widget .widget-item-right {
  margin-right: 10px;
  float: right;
  width: 100px;
}
.widget.widget-item-icon .widget-item-left,
.widget.widget-item-icon .widget-item-right {
  width: 70px;
  padding: 20px 0px;
  text-align: center;
}
.widget.widget-item-icon .widget-item-left {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  margin-right: 10px;
  padding-right: 10px;
}
.widget.widget-item-icon .widget-item-right {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  margin-left: 10px;
  padding-left: 10px;
}
.widget .widget-item-left .fa,
.widget .widget-item-right .fa,
.widget .widget-item-left .glyphicon,
.widget .widget-item-right .glyphicon {
  font-size: 60px;
}
.widget .widget-data {
  padding-left: 120px;
}
.widget .widget-data-left {
  padding-right: 120px;
}
.widget.widget-item-icon .widget-data {
  padding-left: 90px;
}
.widget.widget-item-icon .widget-data-left {
  padding-right: 90px;
  padding-left: 10px;
}
.widget .widget-data .widget-title,
.widget .widget-data-left .widget-title,
.widget .widget-data .widget-subtitle,
.widget .widget-data-left .widget-subtitle,
.widget .widget-data .widget-int,
.widget .widget-data-left .widget-int,
.widget .widget-data .widget-big-int,
.widget .widget-data-left .widget-big-int {
  text-align: left;
}
.widget .widget-controls a {
  position: absolute;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 17px;
  color: #FFF;
  border: 1px solid #FFF;
  -moz-border-radius: 20%;
  -webkit-border-radius: 20%;
  border-radius: 20%;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  opacity: 0.4;
  filter: alpha(opacity = 40);
}

.widget .widget-controls a.widget-control-left {
  left: 10px;
  top: 10px;
}
.widget .widget-controls a.widget-control-right {
  right: 10px;
  top: 10px;
}
.widget .widget-controls a:hover {
  opacity: 1;
  filter: alpha(opacity = 100);
}
.widget .widget-buttons {
  float: left;
  width: 100%;
  text-align: center;
  padding-top: 3px;
  margin-top: 5px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.widget .widget-buttons a {
  position: relative;
  display: inline-block;
  line-height: 30px;
  font-size: 21px;
}
.widget .widget-buttons .col {
  width: 100%;
  float: left;
}
.widget .widget-buttons.widget-c2 .col {
  width: 50%;
}
.widget .widget-buttons.widget-c3 .col {
  width: 33.333333%;
}
.widget .widget-buttons.widget-c4 .col {
  width: 25%;
}
.widget .widget-buttons.widget-c5 .col {
  width: 20%;
}
.widget.widget-primary .widget-buttons a {
  color: #000000;
  border-color: #000000;
}
.widget.widget-primary .widget-buttons a:hover {
  color: #000000;
}
.widget.widget-success .widget-buttons a {
  color: #51672e;
  border-color: #51672e;
}
.widge.widget-success .widget-buttons a:hover {
  color: #435526;
}
.widget.widget-info .widget-buttons a {
  color: #eee;
  border-color: #eee;
}
.widget.widget-info .widget-buttons a:hover {
  color: #fff;
}

.plugin-clock span {
  -webkit-animation: pulsate 1s ease-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation: pulsate 1s ease-out;
  -moz-animation-iteration-count: infinite;
  animation: pulsate 1s ease-out;
  animation-iteration-count: infinite;
  opacity: 0.0;
  margin-right: 2px;
}
.widget.widget-default {
  color: #1b1e24;
}
.widget.widget-default .widget-subtitle {
  color: #1b1e24;
}
.widget.widget-default .widget-controls a {
  color: #1b1e24;
  border-color: #1b1e24;
}
/* END WIDGETS */

@-webkit-keyframes pulsate {
  0% {
    opacity: 0.0;
  }
  50% {
    opacity: 1.0;
  }
  100% {
    opacity: 0.0;
  }
}
@-moz-keyframes pulsate {
  0% {
    opacity: 0.0;
  }
  50% {
    opacity: 1.0;
  }
  100% {
    opacity: 0.0;
  }
}
@keyframes pulsate {
  0% {
    opacity: 0.0;
  }
  50% {
    opacity: 1.0;
  }
  100% {
    opacity: 0.0;
  }
}
/* END Animations */
